<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid container-md">
      <a class="navbar-brand" routerLink="">ReCap Car Rental</a>
      
      <div class="collapse navbar-collapse ms-5 order-2 order-lg-0" id="navbar-links">
        <ul class="nav nav-tabs " id="myTab0" role="tablist">

            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab0"
                data-mdb-toggle="tab"
                data-mdb-target="#home0"
                type="button"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                routerLink="homepage"
                routerLinkActive="active"
              >
                Homepage
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab0"
                data-mdb-toggle="tab"
                data-mdb-target="#profile0"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                routerLink="carspage"
                routerLinkActive="active"
              >
                Cars
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="contact-tab0"
                data-mdb-toggle="tab"
                data-mdb-target="#contact0"
                type="button"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                routerLink="contactpage"
                routerLinkActive="active"
              >
                Contact
              </button>
            </li>
          </ul>
          
          
        <form class="d-flex ms-auto">

          <button type="button" class="btn btn-link-primary btn-rounded   " data-mdb-ripple-color="#000000" routerLink="signinpage" routerLinkActive="active"> Sıgn In <i class="fas fa-user-plus ms-1"></i></button>

            <div class="ms-5">
              <button type="button" class="btn btn-outline-primary btn-rounded   " data-mdb-ripple-color="#000000" routerLink="loginpage" routerLinkActive="active"> Log In <i class="fas fa-sign-in-alt ms-1"></i></button>
            </div>
          
        </form>

      </div>
    </div>
  </nav>