<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="bg-image hover-overlay ripple">
        <img
          src="assets/img/step_1_findcar_new.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
            <p class="card-text">
                STEP 1
              </p>
          <h5 class="card-title">Find your perfect vehicle</h5>
          <p class="card-text">
            Browse our digital market and see beautiful 360° HD photos of hundreds of cars. Do you like the look of a vehicle? Get this car for yourself!
          </p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="bg-image hover-overlay ripple">
        <img
          src="assets/img/step_2_payment_new.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
            <p class="card-text">
                STEP 2
              </p>
          <h5 class="card-title">Choose payment method</h5>
          <p class="card-text">
            We want to make the purchasing process as smooth as possible and that's why we accept a range of payment methods. Choose a convenient way for you to pay!
          </p>
        </div>
        
      </div>
    </div>
    <div class="col">
      <div class="bg-image hover-overlay ripple">
        <img
          src="assets/img/step_3_delivery_new.png"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
            <p class="card-text">
                STEP 3
              </p>
          <h5 class="card-title">Delivery or pick up yourself</h5>
          <p class="card-text">
            Would you like to be resting at home while we deliver your car? Or do you want to go to your local store to get it yourself? The choice is entirely yours!
          </p>
        </div>
        
      </div>
    </div>
  </div>