<!-- Background image -->
<!-- 
<div
     class="bg-image"
     style="
           background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');
            height: 500px;
            "
     >
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.0)"></div>
</div>
 Background image -->

<div
     class="bg-image"
     style="
           background-image: url(assets/img/homepage-1.jpg);
            height: 500px;
            "
     >
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.0)"></div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-10">
      <div class="card text-center mb-5" style="margin-top: -180px">
        <div class="card-body p-5">
          <h1 class="mb-4">Are you available for a tour?</h1>
          <p class="mb-4 text-muted">
            According to your exact need.
          </p>
          <app-search></app-search>
        </div>
      </div>

      <div class="card">
          
        <section>
            <div class="row">
                <div class="col"><app-step-car></app-step-car></div>                   
            </div>

        </section>



        
        <div class="card-body p-5">
          <!-- Section: Design block -->       
          <div class="text-center " style="margin-top: 0px">
            <div class="card-body p-5" >
              <h1 class="mb-4">User Comments?</h1>
              <p class="mb-4 text-muted">
                You can see customer reviews using us below.
                Don't worry, they were all very happy.
              </p>
              
            </div>
          </div>   
          <section style="margin-top: -80px;">
            <div class="row">
                <div class="col"><app-testimonial-card></app-testimonial-card></div>
                <div class="col"><app-testimonial-card></app-testimonial-card></div>              
                <div class="col"><app-testimonial-card></app-testimonial-card></div>     
            </div>

            </section>

            <section>
                <div class="text-center " style="margin-top: 50px">
                    <div class="card-body p-5">
                      <h1 class="mb-4">Navigate through our vehicles</h1>                                         
                    </div>
                  </div>


            <div class="row">
                <div class="col"><app-car-card></app-car-card></div>  
                <div class="col"><app-car-card></app-car-card></div>  
                <div class="col"><app-car-card></app-car-card></div>   
            </div>
            

          </section>
          <!-- Section: Design block -->
        </div>
      </div>
    </div>
  </div>
</div>










