
    <div class="row">
        <div class="container" style="margin-left: 30mm; margin-top: 20mm;" >       
            <app-car-filter></app-car-filter>                               
        </div>
        
        <div class="container" style="margin-left: 150mm; margin-top: -300mm;">
            <div class="" style="width: 320mm;">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                            <a href="#!">
                              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                            </a>
                          </div>
                          <div class="card-header">Featured</div>
                          <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                              Some quick example text to build on the card title and make up the bulk of the
                              card's content.
                            </p>
                        
                            <button type="button" class="btn btn-primary">Button</button>
                          </div>                                              
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                              <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.jpg" class="img-fluid" />
                              <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                              </a>
                            </div>
                            <div class="card-header">Featured</div>
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the
                                card's content.
                              </p>
                          
                              <button type="button" class="btn btn-primary">Button</button>
                            </div>                                              
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>







