@import '~mdb-ui-kit/css/mdb.min.css';
//@import "node_modules/bootstrap/scss/bootstrap";

.brandfilterposition{
    position: relative;
    left: 0px;
    top: 0px;
}

.carcardposition{
    position: relative;
    left: 150px;
    top: 0px;
}

