    
        <div class="row">
            <div class="" style="width: 100mm; height: 300mm;">

                <section class="py-5">
                    <div class="container py-5">
                      <div class="row">
                        <!-- Shop sidebar-->
                        <div  class="col-xl-2 col-lg-3 order-2 order-lg-1">                         
                          
                          
                          <h5 class="mb-3">Show by brand</h5>                                                

                          <div (click)="setCurrentBrand(brand)" *ngFor="let brand of brands" class="form-check">
                            <input *ngIf="setCurrentBrand" class="form-check-input" id="seaColor" type="checkbox" routerLink="/car/brand/{{brand.brandId}}">
                            <label  class="form-check-label d-flex align-items-center" ><span>{{brand.brandName}}</span></label>
                          </div>     
                          
                          
                         

                          <h5 class="mb-4" style="margin-top: 15mm;">Price range</h5>
                          <div class="price-range pt-4 mb-5" style="margin-top: -10mm;">
                            <div id="priceRange"></div>
                            <div class="row pt-2">
                              <div class="col-6"><strong class="small font-weight-bold">From</strong></div>                              
                                <div class="range">
                                <input type="range" min="0" max="750$" value="50" class="form-range" id="customRange1" onchange="updateTextInput(this.value)" />
                                </div>
                              <div class="col-6 text-end"><strong class="small font-weight-bold">To</strong></div>                                                       
                            </div>
                          </div>

                          <h5 class="mb-3">Shop by color</h5>
                          <form action="#">                           

                            <div *ngFor="let color of colors" class="form-check">
                              <input class="form-check-input" id="seaColor" type="checkbox">
                              <label class="form-check-label d-flex align-items-center"><span>{{color.colorName}}</span></label>
                            </div>

                          </form>
                        </div>                                                                                           
                      </div>
                    </div>
                  </section>     
                  
                  
            </div>  
            